<h3>Add a new book</h3>
<br>
<br>
<form method="post" action="/books" enctype= "multipart/form-data">

  <label for= "image">Image:</label>
  <input id="image" type="file" name ="image"/>

  <label for="title">Title:</label>
  <input id= "title" type="text" name="title"/>

  <label for="author">Author:</label>
  <input id= "author" type="text" name="author"/>

  <label for="illustrator">Illustrator:</label>
  <input id= "illustrator" type="text" name="illustrator"/>

  <label for="age_range">Select an age range:</label>
  <select id="age-range" name="age_range">
      <option value="3-5yrs">3-5yrs</option>
      <option value="5-8yrs">5-8yrs</option>
      <option value="9-12yrs">9-12yrs</option>
  </select>

  <label for="checked_out"></label>
  <select id="checked_out" name="checked_out">
      <option value="in">in</option>
  </select>

  <input type="submit" value="Add Book"/>

</form>
<br>
<br>
