
<body class="home_body">

<div class ="buttons">
  <button type="button"><a href="/loans/new">Check out a book</a></button>
  <button type="button"><a href="/loans">Return a book</a></button>
  <button type="button"><a href="/members/new">Create a new member</button>
</div>
</body>
