
<body class="home_body"

<div>


  <button type="button">Check out a book</button>
  <button type="button">Return a book</button>
  <button type="button">Create a new member</button>

</div>
</body>
