<!DOCTYPE html>
<html>
<head>
  <title>Glasgow Children's Mobile Library</title>
  <link rel ="stylesheet" type = "text/css" href="/style.css">
</head>
<body>

<div class="main_nav">
  <div class="main_nav_title">
    <h2><a href='/home'>Glasgow Children's Mobile Library</a></h2>
  </div>
  <div class="main_nav_menu">
    <ul>
      <li><a href="/books">Manage Books</a></li>
      <li><a href="/members">Manage Members</a></li>
    <ul>
  </div>
</div>

  <div>
  <%= yield %>
  </div>

</body>
</html>
