<div class= "books_nav">
  <div class ="book_nav_title">
      <h2><a href="/books">Books</a></h2>
  </div>
  <div class="books_nav_menu">
    <ul>
      <li><a href="/books/new">Add a book</a></li>
      <li><a href="/loans/new">Check out a book</a></li>
      <li><a href="/books/available">Available books</a></li>
      <li><a href="/books/on-loan">Books on loan</a></li>
    </ul>
  </div>
</div>
<br>
<h2>Check out a book</h2>
<br>
<form method="post" action="/loans">

<label for="member_select">Select member:</label>
  <select name="member_id" id="member_select">
        <% @members.each do |member| %>
            <option value=<%= member.id %>><%= member.name %></option>
        <% end %>
  </select>

  <label for="book_select">Select book:</label>
    <select name="book_id" id="book_select">
          <% @books.each do |book| %>
              <option value=<%= book.id %>><%= book.title %></option>
          <% end %>

    </select>

  <label for= "due_back">Due back:</label>
  <input id="due_back" type="date" name ="due_back"/>

  <input type="submit" value="Create Loan"/>

</form>
<br>
<br>
