<div class="members_nav">
  <div class ="members_nav_title">
    <h2><a href="/members">Members</a></h2>
  </div>
  <div class="members_nav_menu">
    <ul>
      <li><a href="/members/new">Create new member</a></li>
      <li><a href="/loans">See all loans</a></li>
    </ul>
  </div>
</div>
<br>
<h2>Add a new member</h2>
<br>
<p>
<form method="post" action="/members">

  <label for= "name">Name:</label>
  <input id="name" type="text" name ="name"/>

  <label for="contact">Contact:</label>
  <input id= "contact" type="text" name="contact"/>

  <input type="submit" value="Add Member"/>

</form>
</p>
